header{
	    background-color:pink;
	    height:60px;
	    position:fixed;
	    width:100%;
	    top: 0;
        z-index: 1000;
	}
	footer{
		background-color:pink;
	    height:60px;
	    position:fixed;
	    width:100%;
	    bottom: 0;
        z-index: 1000;
	}
	aside{
		margin-top:60px;
		margin-bottom:60px;
	}
	span{
	    display: flex;   
		margin-left:2%;       	
	}
	a{
		margin-top:9.5px;
		margin-bottom:50px;
	}
	body{
		background-color:#96EFFF;
	}
	#span1{
		display: flex;
		margin-left:2%;
		margin-top:10%;
		margin-bottom:10%;
	}
	.card {
	  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	  transition: 0.3s;
	  width:18%;
	  height:350px;
	}
	.card:hover {
	  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}	
	.container {
	  padding: 2px 16px;
	}
	.footer, .div1, .div2{
		display:flex;
	}
	.div1{
		margin-left:5%;
		margin-top:20Px;
		color:#1640D6;
		font-weight:bold;
	}
	.div2{
		margin-left:5%;
		margin-top:20Px;
		color:#1640D6;
		font-size:26px;
		font-weight:bold;
	}
	.img1{
		margin-top:-30px;
		margin-left:2%;
		width:9%;
		height:120px;
	}