header{
	background-color:pink;
	    height:60px;
	    position:fixed;
	    width:100%;
	    top: 0;
        z-index: 1000;
	}
	footer{
		background-color:pink;
	    height:60px;
	    position:fixed;
	    width:100%;
	    bottom: 0;
        z-index: 1000;
	}
	aside{
		margin-top:60px;
		margin-bottom:60px;
	}
	span{
	    display: flex;   
		margin-left:2%;       	
	}
	#span1{
		display: inline-block;     
		margin-left: 1%;   
	}
    body{
		background-color:#96EFFF;
	}
	h1{
		text-align:center;
		color:blue;
		font-size:30px;
		font-family:times new roman;
		font-weight:bold;
	}
	label{
		font-size:18px;
		font-family:times new roman;
		color:blue;
	}
	.container{
		margin-left:30%;
		background-color:white;
		margin-right:-300px;
		width:40%;
		padding-left:4%;
		padding-top:3%;
		padding-bottom:3%;
		padding-right:3%;
		opacity:90%;
		border-radius:20px;
	}
	.center{
		margin-left:30%;
		margin-right:26%;
		width:40%;
		font-family:Copperplate;
		font-size:20px;
	}
	table,td,th{
        	border:3px ridge blue;
  			text-align:center;
  			width:50%;
  			margin-left:345px;
  			margin-right:100px;
  			font-size:100%;
  			font-family:Times new roman;
	}
	div{
		display:flex;
	}
	.div1{
		margin-left:5%;
		margin-top:20Px;
		color:#1640D6;
		font-weight:bold;
	}
	.div2{
		margin-left:5%;
		margin-top:20Px;
		color:#1640D6;
		font-size:26px;
		font-weight:bold;
	}