 header{
	    background-color:pink;
	    height:60px;
	    position:fixed;
	    width:100%;
	    top: 0;
        z-index: 1000;
	}
	footer{
		background-color:pink;
	    height:60px;
	    position:fixed;
	    width:100%;
	    bottom: 0;
        z-index: 1000;
	}
	span{
	    display: flex;
	}
	a{
		margin-top:9.5px;
		margin-bottom:50px;
	}
	body{
	    background-color:#96EFFF;
	}
	.img1{
		margin-top:-30px;
		margin-left:2%;
		width:9%;
		height:120px;
	}
	.img3{
		margin-left:20%;
		margin-right:20%;
		width:60%;
		height:350px;
	}
	h1{
		margin-top:65px;
		color:#711DB0;
		font-family: times new roman;
		font-weight:bold;
		text-align: center;
	}
	.content{
		background-color:#0766AD;
		color:white;
		font-family: 'Roboto', sans-serif;
		margin-left:14%;
		margin-right:14%;
		margin-bottom:62px;
		margin-top:5px;
		font-size:14px;
		padding: 5px 2px 5px 2px;
	}
	div{
		display:flex;
	}
	.div1{
		margin-left:5%;
		margin-top:20Px;
		color:#1640D6;
		font-weight:bold;
	}
	.div2{
		margin-left:5%;
		margin-top:20Px;
		color:#1640D6;
		font-size:26px;
		font-weight:bold;
	}